################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoogleAutomation/FileContentIndex/3f448046-8534-4b3a-b598-f2894397be96.vsidx
/.vs/GoogleAutomation/v17/TestStore/0/testlog.manifest
/.vs/GoogleAutomation/v17/TestStore/0/000.testlog
